.header{
    background-color: cornflowerblue;
    text-align: center;
    height:auto;
    width: 100%;
    float: left;
}
.zao-zielone{
    background-color: greenyellow;
    border-radius: 25px;
    width: 35%;
    text-align: center;
    
}
.zao-rozowe{
    text-decoration: none;
    background-color: paleturquoise;
    color: white;
    border-radius: 25px;
    width: 15%;
    text-align: center;
    
}
.zao-rozowe1{
    text-decoration: none;
    background-color: paleturquoise;
    color: white;
    border-radius: 25px;
    width: 15%;
    text-align: right;
    
}